/*-----------------------------------
  Open Section
-------------------------------------*/
body {
  overflow-x:hidden;
  font: 200 14px/21px Helvetica,arial,freesans,clean,sans-serif;
}
.header {
  
  background: #222 url(../img/open-bg.jpg) repeat-x 0 0;
  color: #fff;
  height: 320px;
  top:5px; 
  position: relative;
  }
  h1.heading {
    padding: 20px 10px 23px 18px;
    width: 420px;
    letter-spacing: 0.08em;
    font-family: 'Open Sans', Helvetica,arial,freesans,clean,sans-serif;
    font-size:23px;
    font-variant:small-caps;
    }
    h1.heading a {
      color: #fff;
      }

#open-page {
  position: absolute;
  z-index: 100;
  top: 330px;
  left: 0;
  width:100%;
  }

  .nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 16%;
    }
  .navigation {
    margin-top: 15px;
    }
    .navigation a {
      color: #1D7FAD;
      padding: 8px 2px 2px;
      font-weight:normal;
      font-size:12px;
      border-radius:2px;
      }
      .navigation a:hover { 
        color: #006B9F;
        }
      .navigation li {
        line-height: 30px;
        padding: 0px 20px 0 13px;
        }
        .navigation li a {
          display: block;
          width: 99px;
          padding: 5px 8px;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          padding-top:6px;
          }
      .navigation li a.active {
        color: #fff;
        background-color: #000;
        }
        .navigation.fixed {
          position: fixed;
          top: 0;
          width: 16%;
          }

  .open-wrapper {
    position: relative;
    top: 0;
    left: 17%;
    width: 83%;
    }
  
    .content {
      width: 60%;
      overflow: hidden;
      min-height: 650px;
      }
      .content h2 {
        display: block;
        margin: 0px 20px;
        padding: 20px 0px;
        }

#open-footer {
  height:60px;
  background:#202020;
  padding-top: 15px;
  padding-left: 15px;
  position: relative;
  z-index: 2;
  }

.open-drawer-content {
  position:absolute;
  top:0;
  bottom: 0;
  width:40%;
  right:200%;
  overflow: hidden;
  background: #ccdee9;
  border-left: 10px solid #ccdee9;
  z-index: 2;
  }
  .open-drawer-content.active {
      right: -1px;
    }
  .largemap {
    width:100%;
    height: 220px;
    background: #2c2c2c;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.25);
    }
  @media screen and (min-height:530px) { .largemap { height: 320px; } }
  @media screen and (min-height:630px) { .largemap { height: 420px; } }
  .open-drawer-content.active.fixed {
    position: fixed;
    top: 0;
    right: 0px;
    width: 33.2%
  }
.open-embed-code {
  position:relative;
  margin-top: 25px;
  left:10px;
  width:90%;
  }
.open-api-code {
  position:relative;
  margin-top:2%;
  left:10px;
  width:90%;
  }
.embed-label {
  float:left;
  line-height:23px;
  margin-right:6px;
  font-weight:bold;
  font-size: 13px;
  }
textarea.embed-code {
  font: normal 11px/15px 'Menlo Regular',Consolas,monospace;
  float: right;
  overflow:hidden;
  width:70%;
  background: white;
  display: inline-block;
  padding: 4px 10px;
  color: gray;
  height: auto;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  border: 0 none;
  }
.collection {
  border-top: 1px solid #ccc;
  position: relative;
  padding: 10px 20px;
  padding-right: 38%;
  min-height: 185px;
  }
  .collection:hover {
    background: #f2f7f9;
    cursor: pointer;
    }
  .collection.active {
    background: #ccdee9;
    }
.collection .details {
  margin-bottom: 15px;
  }
.collection p {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 10px;
  color:#8a8a8a;
  cursor: text;
  }
.downloads {
  position: relative;
  margin-top: 2%;
  left:10px;
  width: 100%;
  }
  .col.downloads span {
    float: left;
    }
a.download {
  float:left;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 6px;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  }
  a.download:visited,
  a.download:hover {
    background: #F2F7F9;
    }

.api-button, .api-button:hover {
  padding: 5px 20px 5px 0;
  float: right;
  width: 70%;
  background: none;
  font-size: 12px;
  }
.api-button:hover {
  text-decoration: underline;
  }
.map-preview {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  max-width: 175px;
  overflow: hidden;
  margin: 15px 15px 15px 0;
  }
  .map-preview img {
    width: 100%;
    }

.downloads .icon {
  background: transparent url(../img/sprite-open.png) no-repeat 0 0px;
  display: block;
  width: 45px;
  height: 50px;
  margin-right: 5px;
  }

@media screen and (max-width: 1250px) {
  .downloads .icon {
    display: none;
  }
}
.downloads span.icon.CSV {
  background-position: -50px 0px;
  }
.downloads span.icon.Shapefile, .downloads span.icon.GeoTIFF,
.downloads span.icon.MBTile {
  background-position: -150px 0px;
  }
.downloads span.icon.GeoJSON {
  background-position: -100px 0px;
  }
.button {
  color: #fff;
  background: #404040;
  display: block;
  text-align: center;
  padding: 5px 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  -moz-transition: box-shadow, background-color 0.1s linear;
  -o-transition: box-shadow, background-color 0.1s linear;
  -webkit-transition: box-shadow, background-color 0.1s linear;
  transition: box-shadow, background-color 0.1s linear;
  -moz-box-shadow: 0 0 10px rgb(0,0,0);
  -webkit-box-shadow: 0 0 10px rgb(0,0,0);
  box-shadow: 0 0 10px rgb(0,0,0);
  }
  .button:active,
  .button.active {
    background-color: #fff;
    color: #000;
    }
  .button.toggle:active,
  .button.toggle.active {
    background-color: #fff;
    color: #000;
    z-index:5;
    }
    .button.black {
      background: black;
      color: white;
      padding: 13px 10px;
      margin-top: 3px;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      }
  
/*-----------------------------------
  API Modal
-------------------------------------*/
.api-modal {
  background:#666;
  background:rgba(32,32,32,0.75);
  position:fixed;
  top:0px; left:0px; right:0px; bottom:0px;
  z-index:999999;
  }
  .api-modal .api-content {
    position:absolute;
    display:block;
    right:50%;
    top:50%;
    margin:-210px -330px 0px 0px;
    padding:25px 19px;
    width:620px;
    height:350px;
    border:1px solid #444;
    background:#2e2e2e;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
    -moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
    -webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
    overflow:hidden;
    color:white;
    }
  .api-modal a.api-close {
    position:absolute;
    right:10px;
    top:10px;
    width: 30px;
    height: 25px;
    background-position: -465px -8px;
    }
  .api-modal .api-examples {
    background:#444;
    padding:5px 10px;
    border:1px solid #666;
    }
    .api-examples code {
      font-size:12px;
      font-weight:normal;
      color:#ccc;
      }
    .api-ex-labels {
      font-weight:bold;
      color:#fff;
      }
       
      /*-----------------------------------
        Methods Modal
      -------------------------------------*/
      .methods-modal {
        background-color: rgba(0,0,0,0.75);
        position:absolute;
        top:0px; left:0px; right:0px; bottom:0px;
        z-index:999999;
        overflow-y: auto;
        color: #fff;
        }
      .methods-modal .methods-content h3 {
        margin-bottom: 10px;
        font-size: 25px;
        color: #fff;
        padding-bottom:5px;
        font-family: 'Open Sans', Helvetica,arial,freesans,clean,sans-serif;
        font-variant:small-caps;
        }
      .methods-modal p {
        color: #fff;
        }
      .methods-modal a {
       background:#fff;
       -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.4);
       -webkit-box-shadow: inset 0 0 6px 
       rgba(0, 0, 0, .4);
       box-shadow: inset 0 0 6px 
       rgba(0, 0, 0, .4);
       font-weight:bold;
       padding:2px 6px; 
       }  
      .methods-modal .methods-content {
        position:absolute;
        font-family: Helvetica,arial,freesans,clean,sans-serif;
        display:block;
        left:50%;
        top:25px;
        margin:0 0 0 -400px;
        padding:19px;
        width:800px;
        border:1px solid #444;
        background:#2e2e2e;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
        -moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
        -webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
        }
        .methods-modal a.methods-close {
          text-indent: -999em;
          background-image: url(../img/controls.png);
          background-repeat: no-repeat;
          overflow: hidden;
          width: 7px;
          height: 13px;
          top: 4px;
          right:4px;
          z-index: 2;
          position:absolute;
          background-position: -6px -6px;
          color: #ccc;
          }

      