<!DOCTYPE html>
{% assign base = site.baseurl %}
<html>
<head>
  <meta charset='utf-8' />
  <title>Exploring Kenyan Education</title>
  <link rel='stylesheet' href='{{base}}/style.css' type='text/css' />
  <link rel='stylesheet' href='{{base}}/open.css' type='text/css' />
  <script src='{{base}}/ext/jquery.min.js'></script>
  <script src='{{base}}/ext/jquery.viewport.min.js'></script>
  <script src='{{base}}/ext/modestmaps.min.js'></script>
  <script src='{{base}}/ext/wax.mm.min.js'></script>
  <script src='{{base}}/ext/easey.js'></script>
  <script src='{{base}}/site.js'></script>
  <script src='{{base}}/open.js'></script>
</head>
<body>

{{content}}

</body>
</html>