<!DOCTYPE html>
{% assign base = site.baseurl %}
<html>
<head>
  <meta charset='utf-8' />
  <title>Exploring Kenyan Education</title>
  <link rel='stylesheet' href='{{base}}/css/style.css' type='text/css' />
  <link rel='stylesheet' href='{{base}}/css/open.css' type='text/css' /
  <!--[if IE 7]>
  	<link rel="stylesheet" type="text/css" href="css/ie7.css">
  <![endif]-->> 
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>   
  <script src='{{base}}/ext/jquery.min.js'></script>
  <script src='{{base}}/ext/jquery.viewport.mini.js'></script>
  <script src='{{base}}/ext/modestmaps.min.js'></script>
  <script src='{{base}}/ext/wax.mm.min.js'></script>
  <script src='{{base}}/ext/easey.js'></script>
  <script src='{{base}}/js/site.js'></script>
  <script src='{{base}}/js/open.js'></script>
</head>
<body>

{{content}}

</body>
</html>
